@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap%27");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap%27");


* {
  /* background-color: #f6f0e8; */
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 0;
}

/* xulio */
body {
  background-color: #f6f0e8;
}

/* 

.logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100px;
  height: 100px;
  margin-left: 1%;
}

.menu-burger {
  width: 50px;
  height: 50px;
  margin: 4%;
}

.menu-burger > img {
  width: 100%;
  height: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #f6f0e8;
  width: 100%;
  position: sticky;
} */

/* xulio */

/* CRISTIAN */

/* Header*/

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slack-logo {
  padding: 1rem;
  object-fit: contain;
  justify-content: start;
  display: flex;
  flex-direction: row;
}

.icons {
  width: 20%;
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.lista {
  margin-left: 1.5rem;
}

.icons img {
  width: 1.5rem;
}

/* Main */

.header-class {
  position: fixed;
  background-color: #f5f4f5;
  width: 100%;
  top: 0;
  left: 0;
}

.main-class {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 1rem;
}

.header-main {
  padding: 1rem;
}


/* CRISTIAN */




.banner {
  background-color: #1264a3;
  color: white;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
}


.forte {
  background-color: none;
  font-weight: 700;
  font-size: 13px;
  margin: 3% 0 0 0;
  color: #ffff;
  
}

.light {
  background-color: none;
  font-size: 13px;
  margin: 2% 0 5% 0;
  color: #ffff;
}

.banner a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 13px;
  margin: 5% 0 0 0;
}

.banner .text {
  padding-top: 5px;
  padding-left: 5px;
}

.close-icon {
  align-items: center;
  justify-content: center;
}

.text {
  width: 225px;
  height: 120px;
  margin-left: 1%;
  margin-top: -5%;
  
}

.c-image {
  width: 100%;
  margin: 0;
}
.c-image > img {
  width: 100%;
}

.container-2 {
  background-color: #f6f0e8;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.container-2 > h1 {
  text-align: left;
  font-size: 40px;
  width: 100%;
  padding: 1%;
  padding-left: 0;
}

.container-2 > p {
  text-align: left;
  width: 90%;
}

.container-logo {
  margin: 0 auto;
  width: 100%;
}

.logo-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 2rem;
  background-color: #f6f0e8;
  width: 100%;
}

.c-logo-items {
  max-width: 150px;
  margin: 1rem 1rem;
  background-color: #f6f0e8;
}

section {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

.p-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row wrap;
}

.p-footer-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: bold
}
.a-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-left: 2px;
  margin: 2rem;
  padding: 0;
  width: 80%;
  font-weight: bold;
}



.h2-container {
  margin: 1rem;
  
}

.container-video {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  
}

.video {
  width: 100%;


}

iframe {
  width: 100%;
  border-radius: 10px;
}

/* TARJETAS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.card {
  height: 400px;
  width: 285px;
  margin: 10px;
  justify-content: center;
   border: 1px rgba(90, 90, 90, 0.664) solid;
}

.card img {
  max-width: 100%;
  padding: 12px;
}

.card .text {
  padding: 20px 20px 20px 10px;
  width: 100%;
}

.text p {
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
  font-size: 13px;
}

.text h3 {
  font-size: 23px;
  padding: 0 12px 0 0;
}

.card-link-arrow {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  /*   padding-left: 13px;
  padding-right: 13px; */
  padding: 10px 15px 0 15px;
  height: 50px;
  position: relative;
  margin-right: 15px;
  margin-top: 10%;
  text-justify: end;
}

.card-link-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -9%;
  color: #1264a3;
}

.card-link-arrow::after {
  content: "";
  width: 25px;
  height: 14px;
  /* position: absolute; */
  bottom: 18px;
  right: 15px;
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2025%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22%231264A3%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.548%207h21.904%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M17%201l7%206-7%206%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

/* BOTONES */


.button-1 {
  width: 93%;
  height: 60px;
  margin: 3% 3%;
  border-radius: 4px;
  font-weight: 900;
  border: none;
  background-color: #4a154b;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.call-to-action {
  height: 255px;
  color: white;
  background-color: #4a154b;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
  border: none;
}

.call-to-action p {
  padding: 0 0 15px 0;
}

.border {
  background-color: #4a154b;
  height: 70px;
  border: none;
  margin-bottom: -2px;
}

.semicircle {
  background-color: #4a154b;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 100%;
  margin-left: 50%;
  margin-top: 9%;
  border-radius: 0 0 190px 190px;
}

.button-2 {
  width: 93%;
  height: 60px;
  margin: 3% 3%;
  border-radius: 4px;
  font-weight: 900;
  border: none;
  color: #4a154b;
  background-color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.button-3 {
  width: 93%;
  height: 60px;
  margin: 3% 3%;
  border-radius: 4px;
  font-weight: 900;
  border: none;
  background-color: #4a154b;
  border: 1px white solid;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

.button-4 {
  width: 93%;
  height: 60px;
  margin: 3% 3%;
  border-radius: 4px;
  font-weight: 900;
  border: none;
  border: 1px white solid;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  background: #1776b6e1 url(./img/google_icono.jpg) 5px 5px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 50px;
  padding-left: 60px;
}

.banner .text p {
  color: white;
}

/* FOOTER */


.listc1-elem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
h2 {
  font-size: 25px;

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
body {
  font-family: "Lato", sans-serif;
}

.listc1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.listc2 li {
  margin-bottom: 25px;
}

.angle {
  display: flex;
}

.containerA-1,
.containerA-2,
.containerA-3 {
  margin-left: 15px;
  margin-bottom: 30px;
}
.containerA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f2ecea;
}

.containerD {
  margin-top: 30px;
  font-size: 13px;
  font-weight: bold;
}

.containerC {
  margin-top: 40px;
}

.containerA h3 {
  margin-bottom: 10px;
}

.containerA p {
  margin-bottom: 10px;
}

.boxA {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.containerB {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.copyright {
  color: gray;
}

.containerA-1 a {
  color: #1264a3;
}

.copyright small {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.listc1 {
  list-style-type: none;
}

.listc2 li {
  list-style-type: none;
}

.sns-icons {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 25px;
}

.sns-icons svg {
  width: 25px;
  height: 25px;

  margin-left: 40px;
}
.listc2 svg {
  width: 15px;
  height: 15px;

  display: flex;
  flex-direction: row;
}

.listc2 a {
  color: #1264a3;
  text-decoration: none;
}

.listc1 svg {
  width: 15px;
  height: 15px;
}
.containerA-1 div {
  width: 35px;
  height: 35px;
  background-color: purple;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.containerA-1 {
  font-weight: bold;
}

.containerA-2 {
  font-weight: bold;
}

.containerA-3 {
  font-weight: bold;
}

.containerA-42 span {
  color: gray;
}

.flecha a {
  color: #1264a3;
}

.flecha a::after {
  content: url("link flecha: data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2025%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20stroke%3D%22%231264A3%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.548%207h21.904%22%2F%3E%3Cpath%20stroke-linejoin%3D%22round%22%20d%3D%22M17%201l7%206-7%206%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.buttonB1 {
  width: 40px;
  border-radius: 5px;
  background-color: lightgrey;
  color: purple;
}

.buttonB2 {
  width: 40px;
  border-radius: 5px;
  background-color: purple;
  color: lightgray;
}

.containerB h3 {
  color: white;
  font-size: 25px;
}
.containerA-2 div {
  width: 35px;
  height: 35px;
  background-color: purple;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.containerA-3 div {
  width: 35px;
  height: 35px;
  background-color: purple;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.flecha span a::after {
  content: "";
}
.flecha span a {
  text-decoration: none;
}

.containerA-43 img {
  width: 15px;
  height: 15px;
}
